/* Imports */
@import url("normalize.css");
@import url("variables.css");

#app {
  width: 100%;
}

/* Assign typescale sizes */
h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
  color: var(--accent-color);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

p {
  font-size: var(--p);
}

h1, h2, h3, h4, h5, h6, p,
input, select, button {
  font-weight: var(--main-font-wght);
  letter-spacing: .1em;
  color: var(--font-color);
}

/* Reset, Border-Box, & Font-Var-Set */
* {
  position: relative;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-variation-settings: "wght" var(--main-font-wght);
  border: none;

  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) var(--accent-color-faded);
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 100%;
}

body {
  background-color: var(--main-color);
  font-family: var(--main-font-fallback);
  color: var(--font-color);
}

h1.hiddenHeading {
  position: absolute;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
}

button {
  width: 5em;
  height: 1.5em;
  border: thin solid var(--accent-color);
  border-radius: 5px;

  background-color: var(--accent-color-faded);
  color: var(--accent-color);
}

/* Check Variable Font Support */
@supports (font-variation-settings: "wght" 500) {
  body {
    font-family: var(--main-font);
  }
}